.movie {
  .poster_path {
    height: 336px;
  }

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .overview {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    position: relative;

      .delete {
        position: absolute;
        right: 15px;
        top: 15px;
    }

     .detail {
        position: absolute;
        left: 15px;
        top: 15px;
    }
  }
}