<div class='text-center' id='rated'>
  <h1>My Rated Movies</h1>

  <div id="rated">
    <div ng-repeat="movie in movies" class="col-sm-6 col-md-4 movie">
      <div class='thumbnail'>
        <button class="btn btn-danger delete" ng-click="deleteMovie(movie.id)">X</button>
        <img class="poster_path" ng-src='{{image_url}}/w342/{{movie.poster_path}}' alt=''>
        <div class='caption'>
          <h3 class="title">{{movie.title}}</h3>
          <p class="overview">{{movie.overview}}</p>
          <p>
            <p>Rating:
              <star-rating-comp rating="movie.rating" size="'large'" num-of-stars="5" on-click="starChange($event, movie)"><img src="../assets/images/star-rating.icons.svg"></star-rating-comp>
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>