<div class='text-center' id='wishlist'>
  <h1>My Wishlist</h1>

  <div id="wishlist">
    <div ng-repeat="movie in movies" class="col-sm-6 col-md-4 movie">
      <div class='thumbnail'>
        <button class="btn btn-info detail" ng-click="movieDetail(movie.id)"><i class="fa fa-search"></i></button>
        <button class="btn btn-danger delete" ng-click="deleteMovie(movie.id)"><i class="fa fa-trash-o"></i></button>
        <img class="poster_path" ng-src='{{image_url}}/w342/{{movie.poster_path}}' alt=''>
        <div class='caption'>
          <h3 class="title">{{movie.title}}</h3>
          <p class="overview">{{movie.overview}}</p>
          <p>
            <button class="btn btn-default" ng-click="switchWatched(movie)">I watched it!</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>