.movie .poster_path {
  height: 336px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  background-color: lightblue; }
